@font-face {
    font-family: 'ZeldaFont';
    src: url('fonts/Fuente Zelda Multimedia.woff') format('woff');
}
body {
  font-family: 'ZeldaFont', sans-serif;
}
body{
    background-color: lightgreen;
}